<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.common.mapper.CommonMapper">
    <!-- 存储请求接口日志 -->
    <insert id="saveLog">
        INSERT INTO t_log_interface
            (url, header, param, result)
        VALUES
            (#{url}, #{header}, #{param}, #{result})
    </insert>

    <!-- 保存日期 -->
    <insert id="saveDayOffDate">
        INSERT INTO t_day_off
            (day_off_date, day_off_type)
        VALUES
            <foreach collection="dataList" item="data" separator=",">
                (#{data.dayOffDate}, #{data.dayOffType})
            </foreach>
    </insert>
</mapper>
